.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 20px
}

.links {
    display: flex;
    gap: 20px;
}

